<div class="flex h-screen">
    <div class="hidden md:block md:w-1/2 h-screen bg-[var(--color-primary)] relative">
        <p class="text-white font-semibold text-3xl p-15">{{ typed$ | async}}<span class="inline-block pl-1 w-px h-[1.55em] animate-blink align-middle">|</span></p>

        <img src="" alt="" class="absolute bottom-4 right-4">
    </div>
    
    <div class="w-full md:w-1/2 bg-white">
        <div class="w-1/2 mx-auto">
            
            <div class="w-full max-w-xs mx-auto pt-10">
                <img src="/Faalo.svg" alt="faalo logo" class="w-full h-auto">
            </div><br><br>

            <div class="text-center mb-4">
                <h2 class="text-xl font-semibold">Sign in</h2>
            </div>

            <form [formGroup]="forms" (ngSubmit)="login()" class="flex flex-col gap-y-3">

                <div class="flex flex-col">
                    <app-form-label for="email">Email</app-form-label>
                    <app-input-field id="email" name="email" placeholder="enter your email" formControlName="email" ></app-input-field>
                    <p class="text-sm ml-2 pt-2 text-red-500"
                    *ngIf="forms.get('email')?.touched && forms.get('email')?.hasError('required')">
                    Email is required
                    </p>

                    <p class="text-sm ml-2 pt-2 text-red-500"
                    *ngIf="forms.get('email')?.touched && forms.get('email')?.hasError('email')">
                    Email must have a valid format
                    </p>
                </div>

                <div class="flex flex-col">
                    <app-form-label for="password">Password</app-form-label>
                    <app-password-input-field placeholder="enter your password" formControlName="password"></app-password-input-field>

                    <p class="text-sm ml-2 pt-2 text-red-500"
                    *ngIf="forms.get('password')?.touched && forms.get('password')?.hasError('required')">
                    Password is required
                    </p>

                    <p class="text-sm ml-2 pt-2 text-red-500"
                    *ngIf="forms.get('password')?.touched && forms.get('password')?.hasError('minlength')">
                    Password must have at least 8 characters
                    </p>

                    <p class="text-sm ml-2 pt-2 text-red-500" *ngIf="errorMessage != ' ' ">
                        {{ errorMessage }}
                    </p>

                </div>

                <a 
                routerLink="/forgot-password" 
                class="text-[var(--color-primary)] hover:text-[var(--color-primary)] decoration-2 hover:underline focus:outline-hidden focus:underline opacity-90" 
                style="justify-content:right; display: flex; font-size: small;">
                Forgot your password?
                </a>

                

                <div class="mb-2">
                    <app-input-button class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2" type="submit" >Sign in</app-input-button>
                </div>

            </form>

            <div class="flex justify-center text-center">
                <p><a class="text-[var(--color-secondary)] text-sm underline underline-offset-2 decoration-[var(--color-secondary)] hover:opacity-80 focus:outline-hidden focus:opacity-80" routerLink="/register">Don't have an account yet? Sign up here.</a></p>
            </div>

        </div>
    </div>
</div>