<div class="hs-accordion-treeview-root" role="tree" aria-orientation="vertical">
  <ng-container *ngFor="let node of tree">
    <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: node }"></ng-container>
  </ng-container>
</div>

<ng-template #renderNode let-node>
  <div class="hs-accordion-group" role="group" data-hs-accordion-always-open>
    <div class="hs-accordion" role="treeitem" [attr.aria-expanded]="node.tree ? 'false' : null">
      <div
        class="hs-accordion-heading py-0.5 flex items-center gap-x-0.5 w-full hover:bg-gray-200 dark:hover:bg-neutral-600 focus:bg-gray-100 rounded-md">
        <!-- Toggle Accordion -->
        <button *ngIf="node.tree" (click)="toggleNode(node)"
          class="hs-accordion-toggle size-6 flex justify-center items-center hover:bg-gray-100 rounded-md">
          <svg [ngClass]="{'rotate-90': node.expanded, 'rotate-0': !node.expanded}"
            class="transition-transform duration-300 size-2.5 text-gray-600" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>

        </button>

        <!-- Navigation Link -->
        <a class="text-sm text-gray-800 dark:text-neutral-200 flex-1 text-left"
          [routerLink]="'/' + languageId + '/content'" [queryParams]="{ topic: node.id }">
          {{ node.name }}
        </a>
      </div>

      <div *ngIf="node.expanded"
        class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 ps-4">
        <ng-container *ngFor="let child of node.tree">
          <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: child }"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>