<div>
    <app-right-offcanvas [offcanvasId]="'hs-offcanvas-right'" [title]="'Anotações'">
        <ng-template #customContent>

            <form [formGroup]="notesForm">
                <div>
                    <div formArrayName="notes">
                        <div *ngFor="let child of notesControls; let i = index;" [formGroupName]="i" class="pt-5">
                            <div>
                                

                                <app-note-field formControlName="content"></app-note-field>
                            </div>

                        </div>

                    </div>

                </div>
            </form>

            <div class="pt-5">
                <button (click)="addNoteArea()" class="hover:bg-neutral-600 hover:rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 text-[var(--color-secondary)] dark:text-gray-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>
            </div>

        </ng-template>
    </app-right-offcanvas>
</div>