<app-right-offcanvas [offcanvasId]="'hs-offcanvas-translator-right'" [title]="'Tradutor'">
    <ng-template #customContent>

        <form [formGroup]="form">
            <div class="flex flex-col gap-y-6 p-1">
                <div class="flex flex-col gap-y-2">
                    <select formControlName="source"
                        class="p-1 block w-2/3 h-10 border-2 border-gray-300 rounded-lg text-sm focus:shadow-md focus:border-[var(--color-primary)] outline-none disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                        <option value="" disabled>Selecionar idioma</option>
                        <option *ngFor="let lang of sourceLanguages" [value]="lang.value">
                            {{ lang.label }}
                        </option>
                    </select>

                    <app-textarea formControlName="content"></app-textarea>
                </div>

                <div class="flex flex-col gap-y-2">
                    <select formControlName="target"
                        class="p-1 block w-2/3 h-10 border-2 border-gray-300 rounded-lg text-sm focus:shadow-md focus:border-[var(--color-primary)] outline-none disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                        <option value="" disabled>Selecionar idioma</option>
                        <option *ngFor="let lang of targetLanguages" [value]="lang.value">
                            {{ lang.label }}
                        </option>
                    </select>

                    <div class="flex h-20 bg-gray-200 rounded-lg p-3 dark:bg-neutral-900">

                        <div *ngIf="sent" class="flex space-x-1">
                            <span class='sr-only'>Loading...</span>
                            <div class='h-2 w-2 bg-[var(--color-primary)] rounded-full animate-bounce [animation-delay:-0.3s] dark:bg-white'></div>
                            <div class='h-2 w-2 bg-[var(--color-primary)] rounded-full animate-bounce [animation-delay:-0.15s] dark:bg-white'></div>
                            <div class='h-2 w-2 bg-[var(--color-primary)] rounded-full animate-bounce dark:bg-white'></div>
                        </div>

                        <div *ngIf="translation" class="text-sm dark:text-white">{{translation}}</div>
                    </div>
                </div>

                <div class="flex justify-end">
                    <app-input-button class="w-1/2 pb-3" (click)="translate()">Traduzir</app-input-button>
                </div>

            </div>
        </form>

    </ng-template>
</app-right-offcanvas>