<div class="flex min-h-screen">

  <div class="w-full bg-white">
    <div class="flex flex-col gap-y-4 pt-10 px-4 sm:px-0">

      <div class="w-full flex justify-center">
        <a href="">
          <img src="/Faalo.svg" alt="faalo logo" class="w-full max-w-[300px] h-auto">
        </a>
      </div>

      <h2 class="text-xl sm:text-xl text-center font-bold">Crie uma conta</h2>
    </div>

    <div class="flex items-center justify-center py-8">

      <div class="w-full max-w-sm px-4">

        <form [formGroup]="forms" (ngSubmit)="create()" class="flex flex-col gap-y-3">
          <div class="flex flex-col">
            <app-form-label for="name">Nome</app-form-label>
            <app-second-input-field placeholder="insira seu nome" formControlName="name" id="name" name="name">
            </app-second-input-field>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('email')?.touched && forms.get('email')?.hasError('required')">
              Nome é obrigatório
            </p>
          </div>

          <div class="flex flex-col">
            <app-form-label for="email">Email</app-form-label>
            <app-second-input-field placeholder="insira seu email" formControlName="email" id="email" name="email">
            </app-second-input-field>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('email')?.touched && forms.get('email')?.hasError('required')">
              Email é obrigatório
            </p>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('email')?.touched && forms.get('email')?.hasError('email')">
              Formato de email inválido
            </p>

            <p class="text-sm ml-2 pt-2 text-red-500" *ngIf="errorMessage != '' ">
              Esse email já está sendo utilizado
            </p>

          </div>

          <div class="flex flex-col">
            <app-form-label for="password">Senha</app-form-label>
            <app-password-input-field placeholder="insira sua senha" formControlName="password" id="password"
              name="password"></app-password-input-field>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('password')?.touched && forms.get('password')?.hasError('required')">
              Senha é obrigatório
            </p>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('password')?.touched && forms.get('password')?.hasError('minlength')">
              As senhas devem conter pelo menos 8 caracteres.
            </p>

          </div>


          <div class="flex flex-col">
            <app-form-label for="confirmPassword">Confirme sua senha</app-form-label>
            <app-password-input-field placeholder="confirmar senha" formControlName="confirmPassword"
              id="confirmPassword" name="confirmPassword"></app-password-input-field>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('confirmPassword')?.touched && forms.get('confirmPassword')?.hasError('required')">
              Campo obrigatório
            </p>

            <p class="text-sm ml-2 pt-2 text-red-500"
              *ngIf="forms.get('confirmPassword')?.touched && forms.hasError('passwordMismatch')">
              Senhas diferentes
            </p>

          </div>

          <div class="mb-2 pt-4">
            <app-input-button class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2" type="submit"
              [disabled]="forms.invalid">
              
              <div *ngIf="!sent">Criar conta</div>

              <app-spinner *ngIf="sent" class="flex items-center"></app-spinner>
            </app-input-button>
          </div>

        </form>

        <div class="flex justify-center text-center pb-5">
          <a routerLink="/login"
            class="text-[var(--color-secondary)] text-sm underline underline-offset-2 decoration-[var(--color-secondary)] hover:opacity-80 focus:outline-hidden focus:opacity-80">
            Já tem uma conta? Entre aqui.
          </a>
        </div>

      </div>

    </div>
  </div>

</div>