<button
  type="button"
  class="flex shrink-0 justify-center items-center gap-2 h-30 w-full font-medium rounded-xl border-2 border-[var(--color-purple-gray)] bg-[var(--color-purple-gray)] text-neutral-800 hover:bg-[var(--color-primary)] hover:border-[var(--color-primary)] hover:text-white focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:bg-[var(--color-primary)] dark:border-[var(--color-primary)] dark:hover:[var(--color-secondary)]"
  aria-haspopup="dialog"
  aria-expanded="false"
  aria-controls="hs-scale-animation-modal"
  data-hs-overlay="#hs-scale-animation-modal"
>
  <ng-content></ng-content>
</button>
