<div [id]="offcanvasId"
    class="hs-overlay hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-sm w-full z-80 bg-white border-s border-gray-200 dark:bg-neutral-800 dark:border-neutral-700 overflow-auto"
    role="dialog" tabindex="-1" aria-labelledby="hs-offcanvas-right-label">
    <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700">
        <h3 [id]="offcanvasId + '-label'" class="font-semibold text-gray-800 dark:text-white">
            {{ title }}
        </h3>
        <button type="button"
            class="size-8 flex justify-center items-center rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
            aria-label="Close" [attr.data-hs-overlay]="'#' + offcanvasId">
            <span class="sr-only">Close</span>
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div class="p-4">
        <ng-container *ngTemplateOutlet="customContent"></ng-container>
    </div>
</div>