<div class="flex flex-col justify-center items-center pt-10">
    <p class="flex items-end text-3xl font-bold text-[var(--color-secondary)] pb-5">Thanks for joining <span><img class="w-30 ml-2" src="/Faalo.svg" alt=""></span>!</p>
    <h4>We've just sent a verification code on your email.</h4>
    <div class="flex justify-center items-center pt-20 px-4 sm:px-6">

        <div
            class="flex flex-col rounded-xl p-6 sm:p-10 shadow-lg shadow-[var(--color-secondary)]/50 justify-center items-center">

            <form [formGroup]="form" (ngSubmit)="sendCode()">
                <div class="flex flex-col items-center gap-y-4">
                    <p>Please insert your verification code below:</p>
                    <app-input-field id="code" name="code" formControlName="code"
                        placeholder="enter code"></app-input-field>

                    <p class="text-sm ml-2 pt-2 text-red-500" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </p>

                    <div class="flex flex-row gap-4 items-center">
                        <div>
                            <ng-container *ngIf="!countdownFinished; else showButton">
                                <app-cooldown [duration]="30" [message]="'Resend code in'"
                                    (cooldownFinished)="onCountDownFinished()">
                                </app-cooldown>
                            </ng-container>

                            <ng-template #showButton>
                                <app-input-button (click)="resendCode()">Resend code</app-input-button>
                            </ng-template>
                        </div>

                        <app-input-button type="submit" [disabled]="form.invalid">Verify
                            email</app-input-button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <p class="pt-10 pb-5"><a
            class="text-[var(--color-secondary)] text-sm underline underline-offset-2 decoration-[var(--color-secondary)] hover:opacity-80 focus:outline-hidden focus:opacity-80"
            routerLink="/home">Skip for now.</a></p>

    <!-- Toast -->
    <div *ngIf="verified"
        class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg dark:bg-neutral-800 dark:border-neutral-700"
        role="alert" tabindex="-1" aria-labelledby="hs-toast-success-example-label">
        <div class="flex p-4">
            <div class="shrink-0">
                <svg class="shrink-0 size-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                    </path>
                </svg>
            </div>
            <div class="ms-3">
                <p id="hs-toast-success-example-label" class="text-sm text-gray-700 dark:text-neutral-400">
                    Email verified!
                </p>
            </div>
        </div>
    </div>
    <!-- End Toast -->
</div>