<div class="flex flex-col justify-center items-center pt-10">
    <p class="text-3xl font-semibold text-[var(--color-secondary)] pb-5">Thanks for joining Faalo!</p>
    <h4>We've just sent a verification code on your email.</h4>
    <div class="flex justify-center items-center pt-20 px-4 sm:px-6">
    
        <div class="flex flex-col rounded-xl p-6 sm:p-10 shadow-lg shadow-[var(--color-secondary)]/50 justify-center items-center">
            
            <form [formGroup]="form" (ngSubmit)="sendCode()">
                <div class="flex flex-col items-center gap-y-4">
                    <p>Please insert your verification code below:</p>
                    <app-input-field id="code" name="code" formControlName="code" placeholder="enter code"></app-input-field>

                    <app-input-button class="w-30 sm:w-40 pt-5" type="submit" [disabled]="form.invalid">Send code</app-input-button>
                </div>
            </form>

        </div>
    </div>

    <p class="pt-10"><a class="text-[var(--color-secondary)] text-sm underline underline-offset-2 decoration-[var(--color-secondary)] hover:opacity-80 focus:outline-hidden focus:opacity-80" routerLink="/home">Skip for now.</a></p>

</div>
