<button type="button" class="flex shrink-0 justify-center items-center gap-2 h-30 w-60 text-sm font-medium rounded-xl border-2 border-[var(--color-primary)] bg-[var(--color-primary)] text-white hover:bg-[var(--color-secondary)] hover:border-[var(--color-secondary)] focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none dark:bg-[var(--color-primary)] dark:border-[var(--color-primary)] dark:hover:[var(--color-primary)]" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-scale-animation-modal" data-hs-overlay="#hs-scale-animation-modal">
    <ng-content></ng-content>
</button>

<!--
[isOpen] [ngClass]="{'w-50 h-30': isOpen, 'w-70 h-30: !isOpen'}"-->