<div class="flex justify-center pt-5">
    <a href="">
        <img src="/Faalo.svg" alt="faalo logo" class="w-full max-w-[100px] h-auto">
    </a>
</div>

<div class="min-h-screen flex gap-y-4 justify-center items-center">

    <div class="flex rounded-xl p-8 shadow-lg shadow-[var(--color-secondary)]/50">
        <div class="flex flex-col items-center space-y-4">

            <h5>Por favor, insira seu email para redefinir a senha.</h5>
            <form [formGroup]="form" (ngSubmit)="sendEmail()">
                <div class="flex flex-col items-center space-y-6">
                    <app-input-field class="w-100" id="reset-password-email" placeholder="email"
                        formControlName="email"></app-input-field>

                    <p class="text-sm ml-2 pt-2 text-red-500"
                        *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
                        Formato de email inválido
                    </p>

                    <app-error-message *ngIf="errorMessage != ''"> {{ errorMessage }}</app-error-message>

                    <app-input-button class="w-50" type="submit" aria-haspopup="dialog" aria-expanded="false"
                        aria-controls="hs-basic-modal" data-hs-overlay="#hs-basic-modal" [disabled]="form.invalid || sent">Enviar link de recuperação</app-input-button>
                </div>
            </form>

            <app-center-modal title="Email sent" id="hs-basic-modal">
                <ng-template #customContent>
                    <p>Envimos um link de recuperação de senha no seu email.</p>
                </ng-template>

                <ng-template #customFooter>
                    <app-input-button aria-label="Close" data-hs-overlay="#hs-basic-modal">Ok</app-input-button>
                </ng-template>
            </app-center-modal>


        </div>
    </div>
</div>