<div class="flex justify-center pt-5">
    <img src="/Faalo.svg" alt="faalo logo" class="w-full max-w-[100px] h-auto">
</div>

<div class="min-h-screen flex justify-center items-center">
    <div class="flex rounded-xl p-12 shadow-md bg-gray-50">
        <div class="flex flex-col items-center space-y-4">

            <h5>Reset your password</h5>
            <form [formGroup]="form" (ngSubmit)="resetPassword()">
                <div class="flex flex-col items-center space-y-6">
                    <app-password-input-field id="password" placeholder="new password"
                        formControlName="password"></app-password-input-field>

                    <app-password-input-field id="confirmPassword" placeholder="confirm password"
                        formControlName="confirmPassword"></app-password-input-field>

                    <app-error-message
                        *ngIf="form.get('confirmPassword')?.touched && form.hasError('passwordMismatch')">Passwords
                        don't match</app-error-message>
                    <app-error-message
                        *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">Passwords
                        must have at least 8 characters.</app-error-message>

                    <app-input-button type="submit" [disabled]="form.invalid">Reset password</app-input-button>
                </div>
            </form>

        </div>
    </div>
</div>