/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "preline/variants.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-primary: #5D5D81;
    --color-primary-hover: #A04C03;
    --color-secondary: #3B3355;
    --color-purple-gray: #D5CBE7;
    --color-light-gray: #E5E5E5;
}

  
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}